<div class="card">
    <p-messages></p-messages>
</div>

<div class="card justify-content-center">
    <div style="width: 100%;">
        <p-multiSelect styleClass="prime-slider-override" [options]="sites" [showToggleAll]="true"
            [(ngModel)]="selectedSites" optionLabel="clientName" [virtualScroll]="true" [filter]="true"
            [virtualScrollItemSize]="43" class="multiselect-custom-virtual-scroll" placeholder="Select Sites"
            [style]="{'width': '45em'}"></p-multiSelect>
    </div>
    <br>
    <div style="width: 100%;">
        <p-multiSelect styleClass="prime-slider-override" [options]="suppliers" [showToggleAll]="true"
            [(ngModel)]="selectedSuppliers" optionLabel="name" [virtualScroll]="true" [filter]="true"
            [virtualScrollItemSize]="43" class="multiselect-custom-virtual-scroll" placeholder="Select Suppliers"
            [style]="{'width': '45em'}"></p-multiSelect>
    </div>
</div>
<br>
<br>
<div class="card justify-content-center">
    <label class="labelclass">Pick a Supplier : </label>
    <br>
    <div class="flex">
        <p-listbox [options]="selectedSuppliers" [(ngModel)]="selectedSupplier" optionLabel="name" [filter]="true"
            [style]="{ width: '15rem', height: '295px' }"  [listStyle]="{'max-height': '220px'}"></p-listbox>
        <p-button label="Generate" (onClick)="generateTable()" [style]="{'margin': '1em','margin-top': '15em'}" ></p-button>
    </div>
</div>
<div class="card flex" *ngIf="supplierDetails.length != 0">
    <div class="card flex justify-content-center">
        <p-button label="<<Prev Week" (onClick)="setPrevWeek()" [style]="{'margin': '1em'}" ></p-button>
    </div>
    <div class="card flex justify-content-center">
        <p-button label="Next Week>>" (onClick)="setNextWeek()" [style]="{'margin': '1em'}" ></p-button>
    </div>
</div>
<br>
<div>
    <p-table #dt *ngIf="supplierDetails.length != 0" [value]="supplierDetails" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedSuppliers"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>{{days[0] | date: 'dd/MM/yyyy'}}</th>
                <th>{{days[1] | date: 'dd/MM/yyyy'}}</th>
                <th>{{days[2] | date: 'dd/MM/yyyy'}}</th>
                <th>{{days[3] | date: 'dd/MM/yyyy'}}</th>
                <th>{{days[4] | date: 'dd/MM/yyyy'}}</th>
                <th>{{days[5] | date: 'dd/MM/yyyy'}}</th>
                <th>{{days[6] | date: 'dd/MM/yyyy'}}</th>
                <th>Amount</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td><b>{{product.siteName}}</b></td>
                <td style="text-align: center;">{{product.day1}}</td>
                <td style="text-align: center;">{{product.day2}}</td>
                <td style="text-align: center;">{{product.day3}}</td>
                <td style="text-align: center;">{{product.day4}}</td>
                <td style="text-align: center;">{{product.day5}}</td>
                <td style="text-align: center;">{{product.day6}}</td>
                <td style="text-align: center;">{{product.day7}}</td>
                <td style="text-align: center;"><a style="text-decoration: underline;color: blue;cursor: pointer;" (click)="showDetailDialog(product.siteId)"><b>{{product.amount}}</b></a></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="detailDialog" [style]="{width: '80%'}"  header="Entry details" [modal]="true" styleClass="p-fluid">
    <p-table #dt *ngIf="materialDetails.length != 0" [value]="materialDetails" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedSuppliers"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">Date</th>
                <th style="text-align: center;">Material</th>
                <th style="text-align: center;">Specification</th>
                <th style="text-align: center;">Units</th>
                <th style="text-align: center;">Amount</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td style="text-align: center;">{{product.date | date: 'dd/MM/yyyy'}}</td>
                <td style="text-align: center;">{{product.material}}</td>
                <td style="text-align: center;">{{product.specification}}</td>
                <td style="text-align: center;">{{product.units}}</td>
                <td style="text-align: center;">{{product.amount}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</p-dialog>
