<div class="card">
    <p-messages></p-messages>
</div>
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    </ng-template>
</p-toolbar>

<p-table *ngIf="entrys.length != 0" #dt [value]="entrys" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
    [(selection)]="selectedEntrys" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Manage Entrys</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Client Name<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="location">Supplier<p-sortIcon field="location"></p-sortIcon></th>
            <th pSortableColumn="date">Material<p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="date">Units<p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="date">Amount<p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="date">Date<p-sortIcon field="date"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.site.clientName}}</td>
            <td>{{product.supplier.name}}</td>
            <td>{{product.material.name}}</td>
            <td>{{product.units}}</td>
            <td>{{product.billAmount}}</td>
            <td>{{product.date | date:'dd/MM/yyyy'}}</td>
            <td style="float: right;">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="entryDialog" [style]="{width: '450px'}"  header="Entry Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        
        <div class="card flex justify-content-center">
            <label style="width: 30%;font-size: 2em;">Site: </label>
            <div style="width: 50%;float: right;">
                <p-dropdown *ngIf="sites.length" [options]="sites" [(ngModel)]="selectedSite" optionLabel="clientName" [showClear]="true" placeholder="Select a Site"></p-dropdown>
            </div>
        </div>
        <div class="card flex justify-content-center">
            <label style="width: 30%;font-size: 2em;">Supplier: </label>
            <div style="width: 50%;float: right;">
                <p-dropdown *ngIf="suppliers.length"  [options]="suppliers" [(ngModel)]="selectedSupplier" optionLabel="name" [showClear]="true" placeholder="Select a Supplier"></p-dropdown>
            </div>
        </div>
        <div class="card flex justify-content-center">
            <label style="width: 30%;font-size: 2em;">Material: </label>
            <div style="width: 50%;float: right;">
                <p-dropdown *ngIf="materials.length"  [options]="materials" [(ngModel)]="selectedMaterial" optionLabel="name" [showClear]="true" placeholder="Select a Material"></p-dropdown>
            </div>
        </div>
        <div class="card flex justify-content-center">
            <label style="width: 30%;font-size: 2em;">Units: </label>
            <div style="width: 50%;float: right;">
                <p-inputNumber [(ngModel)]="units" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
            </div>
        </div>
        <div class="card flex justify-content-center">
            <label style="width: 30%;font-size: 2em;">Amount: </label>
            <div style="width: 50%;float: right;">
                <p-inputNumber [(ngModel)]="billAmount" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
            </div>
        </div>
        <div class="card flex justify-content-center">
            <label style="width: 30%;font-size: 2em;">Date: </label>
            <div style="width: 50%;float: right;">
            <p-calendar [touchUI]="true"  [showButtonBar]="true" [(ngModel)]="date"></p-calendar>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" ></p-confirmDialog>
